---
---
@import "minima";

.site-header {
  border-top: 5px solid #ffad33;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.contact-list {
  display: none;
}
